* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  
.container{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: center;

}
.mainmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1% 1%;
    padding-left: 12.5%;
    padding-right: 12.5%;
    align-content: center;
    width: 100%;
    height: 8vh;
    margin: 0 auto;
    background: rgb(244,244,244);
    background: radial-gradient(circle, rgba(244,244,244,1) 0%, rgba(240,240,240,1) 100%);
   
}
.topmenu{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}
.aboutPageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 0%;
    height: 8vh;
    width: 100%;
    margin: 0 auto;
}
.headertext{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    color: rgb(22, 21, 21);
}

a:visited{
    color: hotpink;

}
a:link{
    color: hotpink;
    text-decoration: none;

}

a:hover{
    color: rgb(241, 51, 146);
    text-decoration: underline;
}
